* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
}

.navbar {
    padding: 0 12vw;
    height: 11vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 8px 10px 0 rgb(6, 0, 0);
}

.nav-items {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    /* background-color: rgb(94, 94, 161); */
}

.nav-items a:hover {
    color: #F7444E;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

#nav-item2:hover {
    color: #F7444E;
}

.dropDownContent {
    position: absolute;
    background-color: white;
    width: 12vw;
    padding: 1rem;
    height: 6vw;
    box-shadow: 5px 5px 0px black;
}

.show {
    display: none;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.about {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: calc(100% - 12vh);
}

.about .heading {
    width: 100%;
    height: 20vh;
    background-color: #F7444E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}


.products{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.products h2{
    font-size: 4rem;
    text-align: center;
    margin-top: 4vw;
}
.products .productpink{
    color: #F7444E;
}
.products h2::after{
    content: "";
    width: 6vw;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 0.4vw;
    background-color: #F7444E;
    text-align: center;
}
.row{
    margin-top: 3vw;
    width: 100%;
    display: flex;
    gap: 3vw;
}

.product-box{
    width: 350px;
    height: 350px;
    background-color: #dedede;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    box-shadow: 2px 2px 10px rgb(174, 174, 174);
    font-family: 'Montserrat', sans-serif;

}

.product-box{
    /* background-image: url(./images/p1.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-size:45%; */ 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;


}
.product-box span{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.product-box img:hover{
    scale: 1.08;
}
.product-box img{
    width: 120px;
    transition: all ease;
}
.product-box div{
    position: absolute;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    display: none;
    
}


.product-box div button{
    margin-top: -10px;
    padding: 0.6vw 2vw;
    width: 11vw;
    border: none;
    font-size: large;
    border-radius: 30px;
    cursor: pointer;
}

#cart{
    background-color: #F7444E;
    color: white;
}
#buynow{
    background-color: black;
    color: white;
}
#cart:hover{
    background-color: transparent;
    border: 0.2px solid #F7444E;
    color: #F7444E;
    scale: 1.01;
}
#buynow:hover{
    background-color: transparent;
    border: 0.2px solid black;
    color: black;
    scale: 1.01;
}

.products button{
    width: 15vw;
    font-size: 1.2rem;
    padding: 1vw;
    margin-top: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #F7444E;
    border: none;
    margin-bottom: 1vw;
    text-align: center;
}

.footer {
    width: 100%;
    height: 80vh;
    background-color: #002C3E;
    padding: 0 12vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vw;
    padding-top: 8vw;
}

.description {
    font-family: 'Montserrat', sans-serif;

    width: 100%;
    display: flex;
    gap: 13vw;

}

.description h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.description .location {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.other {
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.tagline {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 30%;
    text-align: left;
}

.icons {
    display: flex;
    gap: 0.5vw;
}

.icons a i {
    color: #002C3E;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid rgb(200, 224, 240);
    width: 60%;
    text-align: center;
    padding-top: 2vw;
}

.copyright a {
    color: #F7444E;
    text-decoration: none;
    font-size: large;
}